* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1256d5;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  max-width: 1440px;
  min-height: 100vh;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 90px;
  background-color: #070505;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) and (min-width: 320px) {
  .nav-container {
    max-width: 375px;
  }
}

.hamburger {
  height: 100%;
  background-color: orange;
  color: white;
  border: none;
  padding: 0px 24px;
}

.search {
  height: 100%;
  width: 100px;
  padding: 24px 24px;
  background-color: black;
  color: white;
  text-align: start;
  border: none;
  font-size: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.search:focus {
  outline: none;
}

.finder {
  position: relative;
  height: 100%;
  width: 100px;
  border-right: 1px solid #bd9879;
  background-color: #b6b60d;
}

.finder-el {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shop {
  position: relative;
  padding: 24px 24px;
  height: 100%;
  width: 100px;
  border: none;
  color: white;
  background-color: green;
  text-align: center;
}

.shop .cart-number {
  position: absolute;
  top: 20px;
  left: 60px;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
}

.shop .cart {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 375px) {
  .shop .cart {
    max-width: 375px;
  }
}

.show {
  opacity: 1;
}

.show-number {
  display: block;
}

.hide-number {
  display: none;
}

.navbar {
  display: none;
  position: absolute;
  top: 90px;
  left: 0;
  width: 371px;
  background-color: #746d33;
  text-align: center;
  z-index: 1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  border-bottom: 2px solid black;
  padding: 10px;
  margin: 0;
}

.navbar ul p {
  font-size: 23px;
  margin: 1px;
}

.navbar .photo {
  position: relative;
  height: 120px;
  width: 100px;
  border-radius: 50%;
  margin: 16px 0;
}

.show-nav {
  display: block;
  position: absolute;
  top: 90px;
  left: 0px;
}

.navbar ul li:first-of-type {
  border-top: 3px solid rgba(15, 2, 2, 0.8);
}

.info-container {
  position: relative;
}

.info-container h1, p {
  margin: 20px 20px;
  font-size: 30px;
}

@media (max-width: 375px) and (min-width: 320px) {
  .info-container h1, p {
    font-size: 35px;
  }
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.number1 {
  position: relative;
  top: 60px;
}

.number2 {
  position: relative;
  top: 140px;
}

.drawer {
  height: 500px;
  width: 4px;
  background-color: black;
}

.btn-previous, .btn-purchase {
  color: black;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 0.6rem 1.3rem;
  text-align: center;
  font-weight: bold;
  border: 1.5px solid black;
  background-color: #7e7e0f;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.number2 > button:nth-of-type(2) {
  margin-left: 20px;
}

.price {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 14px;
  text-align: center;
}

/* Footer */
footer {
  position: fixed;
  background: #0f4e63;
  background-size: cover;
  color: white;
  text-align: center;
  bottom: 0px;
  padding: 20px;
  width: 100%;
}
/*# sourceMappingURL=gamestyle.css.map */