$breakpoints: (
    'xs': 460px,
    'sm': 580px,
    'md': 680px,
    'lg': 802px,
    'xl': 1440px,
);

@mixin xs {
    @media (max-width: map-get($breakpoints, 'xs')) {
        @content;
    }
}

@mixin sm {
    @media (max-width: map-get($breakpoints, 'sm')) {
        @content;
    }
}

@mixin md {
    @media (max-width: map-get($breakpoints, 'md')) {
        @content;
    }
}

@mixin lg {
    @media (max-width: map-get($breakpoints, 'lg')) {
        @content;
    }
}

@mixin xl {
    @media (max-width: map-get($breakpoints, 'xl')) {
        @content;
    }
}

@include xl {
    .shop {
        height: 70px;
        width: 70px;
    }
    .btn__hamburger {
        display: none;
    }

// Show list of items stored when click on shop icon

.list {
    display: none;
    position: absolute;
    top: 319px;
    right: 0;
    width: 300px;

    .list__item {
        display: flex;
        list-style-type: none;
        width: 100%;
        height: 100px;
        top: 0px;
        right: 0px;
        justify-content: space-between;
        align-items: center;
        color: #333;
        background-color: #7e640f;
        padding: 15px;
        border-bottom: 2px solid #333;
    }
}

.list__delete {
    cursor: pointer;
    background-color: #e74c3c;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    width: 40px;
    height: 40px;

    &:hover {
        transform: scale(1.1);
    }
}
}

/* Special Menu */

.aside-menu {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    height: 250px;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
    background-color: rgb(182, 182, 13);

    &__list {
        display: block;
        height: 100px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    &__item {
        margin-top: 23px;
        margin-left: 25px;
    }
    
    &__link {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 400;
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
        text-underline-offset: 8px;
    } 

    &__link:hover {
        text-decoration: underline;
        text-decoration-color: #7e2ee7;
    }  
}

.appear {
    display: block;
    transform: translateX(0);
}

.hide {
    display: none;
}

.header {
    position: relative;
    display: flex;

    &__title {
        text-align: center;
        flex-grow: 1;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 60px;
        color: #e72e9d;
        margin: 40px auto;
    }
}



// nav container

.nav-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}


.finder {
    position: absolute;
    background-color: rgb(182, 182, 13); 
    right: 10px;
    top: 10px;
    line-height: 1;
    border: none;
    border-radius: 100px;
    padding: 26px 40px;
    width: 90px;
    cursor: pointer;
    text-align: center;
}

.finder-el {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.search {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    //margin-right: 180px;
    margin-bottom: 40px;
    width: 400px
}

.search__input {
    border: 3px solid black;
    background-color: black;
    color: white;
    border-radius: 100px;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    outline: none;
    font-size: 40px;
    width: 100%;
}

.search__input:focus {
    outline: none;
}

::placeholder {
    color: white;
}


.shop {
    position: absolute;
    right: 30px;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: rgb(182, 182, 13);
    cursor: pointer;

    .cart {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cart-number {
        position: absolute;
        top: 10px;
        right: 9px;
        font-size: 12px;
        font-weight: bold;
        height: 15px;
        width: 15px;
        background-color: red;
        border-radius: 50%;
        text-align: center;
    }    
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    //flex: 1 0 21%;
    gap: 70px;
    row-gap: 40px;
    //justify-content: space-between;
    //width: 100vw;
    margin: 0 40px;
}

.game-container > div {
    width: 200px;
    text-align: center;
    //margin: 0 auto;
}


.game__image {
    height: 150px;
    width: 150px;;
}

.game__name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 14px;
    text-align: center;
}

@include lg {
    
    .shop {
        height: 70px;
        width: 70px;
        margin-left: 90px;
    }
}

@include md {
    
    .menu__item {
        display: none;
    }
    .btn__hamburger {
        display: block;
    }

    .shop {
        right: 20px;
        height: 70px;
        width: 70px;
    }
}

@include sm {

    .game-container {
        justify-content: center;
    }

    .search {
        width: 300px;
    }
    
    .shop {
        right: 10px;
        height: 70px;
        width: 70px;
        //margin-left: 80px;
    }
}

@include xs {

    .game-container {
        justify-content: center;
    }


    .header__title {
        margin: 20px 20px;
    }

    .search {
        left: 40%;
        width: 320px;
    }
    
    .shop {
        right: 20px;
        height: 70px;
        width: 70px;
        //margin-left: 80px;
    }
}

