$breakpoints: (
    'sm': 530px,
    'md': 681px,
    'lg': 802px,
    'xl': 1440px,
);

@mixin xs {
    @media (max-width: map-get($breakpoints, 'xs')) {
        @content;
    }
}

@mixin sm {
    @media (max-width: map-get($breakpoints, 'sm')) {
        @content;
    }
}

@mixin md {
    @media (max-width: map-get($breakpoints, 'md')) {
        @content;
    }
}

@mixin lg {
    @media (max-width: map-get($breakpoints, 'lg')) {
        @content;
    }
}

@mixin xl {
    @media (max-width: map-get($breakpoints, 'xl')) {
        @content;
    }
}

@include xl {
    .shop {
        height: 70px;
        width: 70px;
    }
    .btn__hamburger {
        display: none;
    }

// Show list of items stored when click on shop icon

.list {
    display: none;
    position: absolute;
    top: 319px;
    right: 0;
    width: 300px;

    .list__item {
        display: flex;
        list-style-type: none;
        width: 100%;
        height: 100px;
        top: 0px;
        right: 0px;
        justify-content: space-between;
        align-items: center;
        color: #333;
        background-color: #7e640f;
        padding: 15px;
        border-bottom: 2px solid #333;
    }
}

.list__delete {
    cursor: pointer;
    background-color: #e74c3c;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    width: 40px;
    height: 40px;

    &:hover {
        transform: scale(1.1);
    }
}
}

/* Special Menu */

.aside-menu {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    height: 250px;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
    background-color: rgb(182, 182, 13);

    &__list {
        display: block;
        height: 100px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    &__item {
        margin-top: 23px;
        margin-left: 25px;
    }
    
    &__link {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 400;
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
        text-underline-offset: 8px;
    } 

    &__link:hover {
        text-decoration: underline;
        text-decoration-color: #7e2ee7;
    }  
}

    

.appear {
    display: block;
    transform: translateX(0);
}

.hide {
    display: none;
}

@include lg {
    
    /*.search__input {
        width: 400px;
    }*/
    .shop {
        height: 70px;
        width: 70px;
        padding: 24px 24px;
    }
}

@include md {

    /*.search__input {
        width: 350px;
    }*/
    
    .menu__item {
        display: none;
    }
    .btn__hamburger {
        display: block;
    }

    .shop {
        height: 70px;
        width: 70px;
    }
}

@include sm {

    /*.nav-container {
        //justify-content: space-between;
    }
    
    .search__input {
        height: 90px;
        width: 300px;
    }

    .finder {
        height: 73px;
    }
    .shop {
        right: 20px;
        height: 90px;
        width: 90px;
    }
    .list__item {
        top: 460px; 
    }

    .list {
        top: 338px;
    }*/
    .shop {
        //right: 20px;
        height: 70px;
        width: 70px;
    }
}





